<div class="ib-head">
    <div class="ib-head-logo">
        <img src="../src/img/logo.png" alt="">
    </div>
    <div class="ib-head-title">
        后台管理
    </div>
    <div class="ib-head-user">
        <span>用户：</span>
        <a class="ib-head-user-info">admin</a>
        <a class="ib-head-user-exit" href="#">注销</a>
    </div>
</div>
