<div class="ib-side-menu">
    <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav>
        <li class="">
            <a href="userCenter">用户中心</a>
        </li>
        <li>
            <a href="seo">SEO优化</a>
        </li>
        <li class="">
            <a href="new">新闻管理</a>
        </li>
        <li class="">
            <a href="download">应用下载</a>
        </li>
        <li>
            <a href="job">招聘信息</a>
        </li>
        <li class="">
            <a href="banner">首页设置</a>
        </li>
    </ul>
</div>
