
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../src/uikit/css/uikit.min.css">
        <link rel="stylesheet" href="../src/css/public.css">

        <script src="//cdn.bootcss.com/jquery/1.10.0/jquery.min.js"></script>
        <script type="text/javascript" src="../src/uikit/js/uikit.min.js"></script>
    </head>
    <body>
        <div class="ib-head">
            <div class="ib-head-logo">
                <img src="../src/img/logo.png" alt="">
            </div>
            <div class="ib-head-title">
                后台管理
            </div>
            <div class="ib-head-user">
                <span>用户：</span>
                <a class="ib-head-user-info">admin</a>
                <a class="ib-head-user-exit" href="#">注销</a>
            </div>
        </div>
        <div class="ib-side-menu">
            <ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav>
                <li class="">
                    <a href="#">用户中心</a>
                </li>
                <li>
                    <a href="#">SEO优化</a>
                </li>
                <li class="">
                    <a href="#">新闻管理</a>
                </li>
                <li class="uk-active">
                    <a href="#">应用下载</a>
                </li>
                <li>
                    <a href="#">招聘信息</a>
                </li>
                <li class="">
                    <a href="#">首页设置</a>
                </li>
            </ul>
        </div>
    </body>
</html>
