<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
