<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../src/uikit/css/uikit.min.css">
        <link rel="stylesheet" href="../src/css/public.css">

        <script src="//cdn.bootcss.com/jquery/1.10.0/jquery.min.js"></script>
        <script type="text/javascript" src="../src/uikit/js/uikit.min.js"></script>
    </head>
    <body>
        <% include common/head.ejs%>
        <% include common/sideMenu.ejs%>
        <div class="ib-content">
            SEO优化
        </div>
    </body>
</html>
