html,
body {
  height: 100%;
}
/*头部*/
.ib-head {
  background-color: #252525;
  height: 70px;
  position: relative;
}
.ib-head-logo {
  width: 180px;
  padding-top: 5px;
  padding-left: 7px;
  display: inline-block;
  vertical-align: middle;
}
.ib-head-title {
  color: white;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}
/*菜单栏 侧边栏*/
.ib-side-menu {
  width: 220px;
  height: 100%;
  height: calc(100% - 70px - 1px);
  height: -webkit-calc(100% - 70px - 1px);
  border-right: 1px solid #333;
  float: left;
  background-color: #333;
}
