// LESS related
@import "publicVariables.less";


html,body{
    height:100%;

}

/*头部*/
.ib-head{
    background-color:@ib-head-backgroundcolor;
    height:@ib-head-height;
    position:relative;
    // border-bottom-width:1px;
    // border-bottom-style:solid;
    // border-bottom-color:@ib-head-border-bottom-color;
}
.ib-head-logo{
    width:@ib-head-logo-width;
    padding-top:5px;
    padding-left:7px;
    display:inline-block;
    vertical-align: middle;
}
.ib-head-title{
    color:white;
    font-size:30px;
    display:inline-block;
    vertical-align: middle;
}
.ib-head-user{
    position:absolute;
    bottom:@ib-head-user-bottom;
    right:@ib-head-user-right;
    font-size:@ib-head-user-fontsize;
    span{
        color:@ib-head-user-tab-color;
    }
    .ib-head-user-info{
        text-decoration:underline;
        color:@ib-head-user-name-color;
    }
    .ib-head-user-exit{
        margin-left:@ib-head-user-exit-left;
        color:@ib-head-user-exit-color;
    }
}

/*菜单栏 侧边栏*/
.ib-side-menu{
    width:@ib-side-menu-width;
    height:100%;
    height:calc(~"100% - @{ib-head-height} - 1px");
    height:-webkit-calc(~"100% - @{ib-head-height} - 1px");

    border-right:1px solid @ib-side-menu-border-left-color;
    float:left;
    background-color:@ib-side-menu-backgroundcolor;
}
// 内容
.ib-content{
    background-color:@ib-content-backgroundcolor;
    height:100%;
    height:calc(~"100% - @{ib-head-height} - 1px");
    height:-webkit-calc(~"100% - @{ib-head-height} - 1px");
    margin-left:@ib-side-menu-width;
}
