
@ib-side-menu-width:                270px;     //侧边栏的宽度
@ib-side-menu-border-left-color:    #333;   //侧边栏的右边框颜色
@ib-side-menu-backgroundcolor:      #333;   //侧边栏的背景颜色


@ib-head-backgroundcolor:           #252525;  //头部背景颜色
@ib-head-height:                    70px;     //头部的高度
@ib-head-border-bottom-color:       #ccc;     //头部底部边框的颜色
